<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ezytask.infrastructure.Properties.Settings.ezytaskConnectionString"
            connectionString="Data Source=.;Initial Catalog=ezytask;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>